body {
  height: 100vh;
}

.main-wrapper {
  position: absolute;
  height: calc(100% - 55px);
  width: 933px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  left: -16px;
}

.main-container {
  width: 933px;
  margin-top: 18px;
  height: calc(100% - 40px);
  display: flex;
  background: white;
}

.contacts-container {
  box-sizing: border-box;
  width: 349px;
  height: 100%;
  border: 1px solid lightgray;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.contacts-header {
  height: 59px;
  border-bottom: 1px solid lightgray;
}

.contact {
  padding: 8px 0;
  height: 56px;
  position: relative;
  display: flex;
  align-items: center;
}

.contact img {
  margin-left: 18px;
  border-radius: 50px;
}

.text-wr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 56px;
  margin-left: 10px;
}

.contact-name {
  font-size: 14px;
  display: inline-block;
}

.contact-text {
  display: inline-block;
  font-size: 13px;
  color: gray;
}

.contact:active {
  background: rgb(236, 236, 236);
}

.contact:hover {
  background: rgb(245, 245, 245);
}

.contact:first-child {
  margin-top: 8px;
}

.messages-container {
  width: 585px;
  height: 100%;
  border: 1px solid lightgray;
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.messages-header {
  height: 59px;
  display: flex;
  border: none;
  justify-content: center;
  flex-direction: row;
  width: auto;
  margin-bottom: 12px;
  border-bottom: 1px solid lightgray;
}

.message-sender {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.message-sender div {
  margin-right: 10px;
}

.message-container {
  position: relative;
  justify-content: flex-start;
  display: flex;
  width: 100%;
  word-wrap: break-word;
  padding: 5px;
  margin-top: 0px;
  margin-left: 16px;
}

.sent {
  width: 100%;
  justify-content: flex-end;
  margin-right: 12px;
  max-width: 100%;
}

.message-container img {
  margin-right: 10px;
  top: 10px;
  border-radius: 20px;
  align-self: flex-end;
}

.message {
  display: inline-block;
  max-width: 230px;
  border-radius: 22px;
  border: 1px solid rgb(231, 231, 231);
  word-wrap: break-word;
  font-size: 14px;
  padding: 14px;
  max-width: 300px;
}

.message-sent {
  display: inline-block;
  max-width: 230px;
  border-radius: 22px;
  border: 1px solid rgb(231, 231, 231);
  word-wrap: break-word;
  font-size: 14px;
  padding: 14px;
  margin-right: 48px;
}

.scrollable-view {
  overflow: auto;
  width: 349px;
  height: calc(100% - 60px);
}

.direct-footer-wrap {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
}

.direct-footer {
  background-color: white;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid lightgray;
}

@media (max-width: 933px) {
  .main-wrapper {
    width: 100%;
    left: 0;
    margin: 0;
    height: 100%;
  }
  .main-container {
    width: 100%;
    height: 100%;
    margin-top: 0;
    top: 0;
  }
  .contacts-container {
    box-sizing: border-box;
    width: 100%;
    display: none;
  }
  .contacts-header {
    display: none;
  }
  .messages-header {
    height: 24px;
    display: flex;
    border: none;
    justify-content: center;
    flex-direction: row;
    height: 40px;
    border-bottom: 1px solid lightgray;
  }
  .message-sender {
    display: flex;
    /*
    flex-direction: row;
    height: 42px;
    width: auto;
    padding: 0px 36px;
    border: 1px solid lightgray;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px; */
  }
  .message-sender div {
    margin-left: 10px;
  }
  .message-sender img {
    margin: 8px;
  }

  .messages-container {
    width: 100%;
    display: none;
    border: none;
  }
  .contacts-container-active {
    width: 100%;
    display: block;
    border: none;
  }
  .messages-container-active {
    width: 100%;
    overflow: hidden;
    border: none;
  }

  .active {
    width: 100%;
    display: block;
    border-right: none;
    border-left: none;
  }

  .inactive {
    width: 100%;
    display: none;
    border-right: none;
    border-left: none;
  }

  .button {
  }

  .scrollable-view {
    width: 100%;
  }
}

@media (min-width: 933px) {
  .direct-footer {
    display: none;
  }
  .direct-footer-wrap {
    display: none;
  }
}
