.footer {
  background-color: white;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: none;
}

.footer-btns-sec {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 15vw;
  min-width: 220px;
  height: 40px;
  overflow-x: none;
}

@media (min-width: 935px) {
  .footer {
    display: none;
  }
  .footer-btns-sec {
    display: none;
  }
}
