.navbar {
  top: 0;
  z-index: 3;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid lightgray;
  height: 53px;
  min-height: 53px;
  min-width: 100vw;
  width: 100vw;
  display: block;
}

.navbar-container {
  max-width: 935px;
  background-color: white;
  padding: 0 20px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 53px;
  border-bottom: 1px solid lightgray;
}

.navbar-btns-sec {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 15vw;
  min-width: 220px;
  height: 40px;
}

.navbar-btns {
  width: 22px;
  height: 22px;
  margin: 0 12px;
}

.istekram-logo {
  object-fit: contain;
  height: 30px;
  width: 100px;
}

.navbar-container input {
  border: 1px solid lightgray;
  background-color: #fafafa;
  height: 24px;
  width: 209px;
  border-radius: 3px;
  text-align: center;
  margin-left: 171px;
}

.navbar-container input:focus {
  text-align: left;
}

.dd-item {
  display: flex;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  width: 130px;
}

.dd-item svg {
  margin: 10px;
  padding-left: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.dd-logout {
  font-size: 13px;
  margin-top: -8px;
  margin-left: 20px;
  height: 20px;
  width: 60px;
  cursor: pointer;
}

@media (max-width: 935px) {
  .navbar-btns-sec {
    display: none;
  }
  .istekram-logo {
    margin: 0 auto;
    justify-content: center;
  }
  .navbar-container {
    padding: 0;
  }
  .navbar-container input {
    display: none;
  }
}

/* @media (max-width: 550px) {
  .navbar-container input {
    display: none;
  }
  .navbar-btns-sec {
    margin-right: 20px;
  }
}
@media (max-width: 438px) {
  .navbar-btns-sec {
    display: none;
  }
  .istekram-logo {
    margin: 0 auto;
    justify-content: center;
  }
  .navbar-container {
    padding: 0;
  }
} */
