.Page {
  display: flex;
  width: 935px;
  max-width: 938px;
  flex-shrink: 0;
  justify-content: space-between;
  margin: 50px auto 0 auto;
}

.Leftbar {
  width: 614px;
  height: auto;
}

.Rightbar {
  width: 293px;
  height: 800px;
  margin: 32px 0 10px 0;
}

.App{
  width: 100%;
}

@media (max-width: 1000px) {
  .Page {
    margin: 26px auto;
    left: 0;
    width: 100%;
  }

}

@media (max-width: 660px) {
  .Leftbar {
    margin: 0 0;
    width: 100%;
  }
  .Page {
    width: 100%;
  }
}
