.story-container{
  width: 614px;
  min-width: 614px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 614px;
  min-width: 614px;


  
}

.scroll-container {
  position: absolute;
  width: 592px;
  display: block;
  margin: 34px auto;
  padding: 20px 10px 24px 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: #ffffff;
  
}

.story {
  background-color: gray;
  width: 60px;
  height: 60px;
  display: flex;
  left: 0;
  border-radius: 50px;
  margin: 0 auto;
}

.story-box{
  width: 72px;
  height: 72px;

  margin: 0 auto;
}

.story-username{
  font-size: 12px;
  text-align: center;
}

.story:hover {
  cursor: pointer;
  background-color: wheat;
}


.story-close-btn{
  display: none;
  z-index: -1;
  width: 20px;
  height: 20px;
  cursor: pointer;
}


@media (max-width:660px){
  .scroll-container{
    width: 100%;
    box-sizing: border-box;
  }
}

.insta {

  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 200px; /* change this to change the size*/
}

.sil{
  width: 600px;
}

@media(max-width: 660px){
  .sil{
    width: 100%;
  }
}
