.navbar {
  height: 53px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center
}

.navbar-container{
  max-width: 800px;
  display: flex;
  align-items: center;
  ;
}

.navbar-btns-sec {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20000px; 
  height: 40px;
}

.navbar-btns {
  width: 22px;
  height: 22px;
  margin: 0 20px;
  border: 1px solid black;
  border-radius: 4px;
}

.istekram-logo {
  height: 30px;
  margin: 0 20px;
}
