.post {
  margin: 16px auto 20px auto;
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: #ffffff;
}

.post:first-child {
  margin-top: 176px;
}

.post-header {
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.username{
  margin-top: -4px;
  margin-left: 12px;
}

.post-image{

}


.post-btns-section{
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.post-btns{
  left: 0;
  margin: 0 20px;
}

.post-sub{
  margin-left: 10px;
  font-size: 14px;
}

.post-likes{

}

.bold-text{
  font-weight: 500;
  display: inline-block;
}

@media (max-width:660px){
  .post{
    width: 100%;
  }
  .post-btn-seciton{
    width: 100%;
  }
}