.loginWrapper {
  display: flex;
  flex-direction: row;
  height: 818px;
  min-height: 650px;
  justify-content: center;
  align-items: center;
  background: none;
}

.loginTop img {
  max-width: 170px;
  margin: 28px auto 18px auto;
}

.loginTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 380px;
  width: 348px;
  margin: 32px 18px 0px 18px;
  border: 1px solid lightgray;
  background-color: white;
}

.form {
  width: 348px;
  height: 263px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  width: 270px;
  height: 40px;
  margin: 3px 0;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 9px 0 7px 8px;
  background-color: rgb(250, 250, 250);
  font-size: 11px;
}

.form button {
  width: 270px;
  height: 30px;
  min-height: 30px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 12px;
  border: none;
  border-radius: 3px;
  background-color: rgb(0, 149, 246);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.hr {
  width: 270px;
  min-height: 1px;
  margin-top: 14px;
  margin-bottom: 12px;
  background-color: lightgray;
}

.fb {
  font-size: 14px;
  cursor: pointer;
  margin: 22px 0 10px 0;
}

.forgotPassword {
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 8px;
}

.loginBot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 63px;
  margin-top: 10px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid lightgray;
  font-size: 14px;
  margin: 10px 18px;
  background-color: white;
}

.appSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appSec p {
  font-size: 14px;
  margin-top: -16px;
  margin-bottom: 16px;
}
